.Container{
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: #594a3c;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.text1{
    color: #f2ece4;
    font-family: Arial, Helvetica, sans-serif;
    order: 1;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav1l{
    display: flex;
    align-items: center;
}
.nav1ll{
    display: flex;
    align-items: center;
}
.nav1lr{
    display: flex;
    align-items: center;
}

.descrip{
    display: flex;
    flex-direction: column;
    background-color: #f2ece4;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.block{
    display: flex;
    width:100%;
}

.text2{
    color: #594a3c;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 0px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
}
h1{
    font-size: 30px;
}
.favbtn{
    border-radius: 20px;
    color: #f2ece4;
    width: 50%;
}
.favbtn{
    padding: 10px;
    background-color: #594a3c;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
}
.summary{
    margin-top: 10px;
    background-color: #594a3c;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
    color: #f2ece4;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
    
}
label{
    font-size: 20px;
    color: #594a3c;
}
select{
    background-color: #f2ece4;
    height: 35px;
    color: #594a3c;
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 15px;
}
input{
    background-color: #f2ece4;
    border-radius: 5px;
    height: 35px;
    border: 2px #594a3c;
    width: 400px;
    font-size: 15px;
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #594a3c;
    background-color: #f2ece4;
}
.cover{
    width: 50%;
    height: 100%;
}

.title1{
    display: flex;
    align-items: center;
}
#searchbar{
    height: 25px;
    visibility: hidden;
    
}

.image{
    width: 50vw;
    height: 80vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.intro{
    background-color: #f2ece4;
    display: flex;
    
    
}
.intro-text{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
p{
    font-size: 20px;
    font-family: cursive;
    color: #594a3c;
}
h2{
    color: #594a3c;
    font-size: 30px;
}
.bookhead{
    display: flex;
    justify-content: center;
}
.books{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 5px;

}
.favbooks{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px;
}

@media (min-width:100px) and (max-width:768px){
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro-text{
        width:100vw;
    }
    .image{
        width: 90vw;
    }
    .books{
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr;
        grid-auto-rows: 1fr;
    }
    .favbooks{
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr;
        grid-auto-rows: 1fr;
    }
    .nav1l{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav1ll{
        display: flex;
        align-items: center;
    }
    .nav1lr{
        display: flex;
        align-items: center;
    }
    .nav1{
        margin-bottom: 5px;
    }
    .block{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .descrip{
        display: flex;
        flex-direction: column;
        background-color: #f2ece4;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .cover{
        width: 100%;
        height: 100%;
    }
    label{
        width: 40vw;
        font-size: 4vw;
        
    }
    select{
        width: 40vw;
    }
    .right{
        visibility: hidden;
    }
    #search{
        width: 60vw;
    }
   
}
@media (min-width:768px) and (max-width:1056px){
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        justify-content: center;
        
    }
    .image{
        width:100vw;
        object-fit: fill;
    }
    .books{
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
        grid-auto-rows: 1fr;
    }
    .favbooks{
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
        grid-auto-rows: 1fr; 
    }
    .block{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .descrip{
        display: flex;
        flex-direction: column;
        background-color: #f2ece4;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .cover{
        width: 100%;
        height: 100%;
    }

}
